{% extends "operators/base.html" %}

{% load account %}
{% load crispy_forms_tags %}

{% block title_block %}Password Reset{% endblock %}

{% block text_block %}
    <div class='col-8 offset-2 py-3'>
        <div class="text-center text-white">
            <h1 class="h1 mb-3 font-weight-normal">Password Reset</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing
                you to reset
                it.</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset My Password"/>
            </form>
            <hr/>
            <p>Please contact us if you have any trouble resetting your password.</p>
        </div>
    </div>
{% endblock %}
