{% extends 'customers/base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    View Purchases
{% endblock %}

{% block head_block %}

{% endblock %}

{% block body_block %}

{% endblock %}

{% block text_block %}

    {% if empty %}
        <h4 class="font-weight-light text-white py-4">You have no purchases</h4>
    {% else %}
    

    {% if purchases %}
        <h4 class="font-weight-light text-white py-4">Here are your purchases</h4>


        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Booking date</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Vehicle</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Company</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Class</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Price</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Ticket</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Dep date</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Arr date</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Dep time</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Arr time</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Concession</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Position</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Service</h6></th>
                        

                    </tr>
                </thead>

                <tbody>

                    {% for purchase in purchases %}
                    <tr>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.booking_date }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.mode }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.operator }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.class }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.price }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.passengers }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.leaving_date }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.arriving_date }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.leaving_time }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.arriving_time }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.concession }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ purchase.position}}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{% if purchase.service %}{{ purchase.service }}{% else %}none{% endif %}</h6></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    
    
    {% else %}
    <div class='col-8 offset-2'>
        <div class="text-center text-white">
            <h1 class="h1 mb-3 font-weight-light pb-4">My Purchases</h1>
            <form id="details_form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="submit" value="Submit Query" class="btn btn-dark btn-lg pt-2"/>
            </form>
        </div>
    </div>


    {% endif %}
    {% endif %}
{% endblock %}