{% extends "api/base.html" %}
{% load account %}

{% block title_block %}Password Reset{% endblock %}

{% block body_block %}
    <div class="text-center col-6 offset-3 py-3">
        <h1 class="h1 mb-3 font-weight-light">Password Reset</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>We have sent you an e-mail. Please contact us if you do not receive it within a few
            minutes.</p>
    </div>
{% endblock %}
