{% extends "customers/base.html" %}

{% block title_block %}Sign Out{% endblock %}

{% block text_block %}
    <div class='col-8 offset-2 py-3'>
        <div class="text-center text-white">
            <h1 class="h1 mb-3 font-weight-light">Sign Out</h1>
            <p>Are you sure you want to sign out?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class='btn btn-primary' type="submit">Sign Out</button>
            </form>
        </div>
    </div>
{% endblock %}
