{% extends 'operators/base.html' %}

{% block title_block %}
    Sign In
{% endblock %}

{% block head_block %}
{% endblock %}

{% block text_block %}
    {% if error %}
        <h4> {{ error }} </h4>
    {% endif %}
    {% if success %}
        <h4> {{ success }} </h4>
    {% endif %}
    <form class="form-signin text-white" action="{% url 'operators:signin' %}" method='POST'>
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required
               autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <div>
        {% for message in messages %}
            <h3> {{ message }} </h3>
        {% endfor %}
    </div>
{% endblock %}