{% extends "customers/base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}Set Password{% endblock %}

{% block text_block %}
    <div class='col-8 offset-2 py-3'>
        <div class="text-center text-white">
            <h1 class="h1 mb-3 font-weight-light">Set Password</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class='btn btn-primary' type="submit" name="action" value="Set Password"/>
            </form>
        </div>
    </div>
{% endblock %}
