{% extends "api/base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}Set Password{% endblock %}

{% block body_block %}
    <div class="text-center col-6 offset-3 py-3">
        <h1 class="h1 mb-3 font-weight-light">Set Password</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-primary' type="submit" name="action" value="Set Password"/>
        </form>
    </div>
{% endblock %}
