{% extends 'customers/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title_block %}
    View Concessions
{% endblock %}

{% block head_block %}

{% endblock %}

{% block body_block %}

{% endblock %}

{% block text_block %}
    {% if empty %}
    <h4 class="font-weight-light text-white py-4">You have no concessions</h4>
    {% else %}

    
    {% if concessions %}
        <h4 class="font-weight-light text-white py-4">Here are your concessions</h4>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Name</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Vehicle</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Company</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Discount</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Details</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Valid from</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Valid to</h6></th>
                        <th scope="col"><h6 class="font-weight-light text-white py-1">Conditions</h6></th>
                    </tr>
                </thead>

                <tbody>

                    {% for concession in concessions %}
                    <tr>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.name }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.vehicle }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.company }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.discount_value }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.discount_details }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.valid_from }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.valid_to }}</h6></td>
                        <td><h6 class="font-weight-light text-white py-1">{{ concession.conditions }}</h6></td>
                            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


    {% else %}
    <div class='col-8 offset-2'>
        <div class="text-center text-white">
            <h1 class="h1 mb-3 font-weight-light pb-4">My Concessions</h1>
            <form id="details_form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="submit" value="Submit Query" class="btn btn-dark btn-lg pt-2"/>
            </form>
        </div>
    </div>

    {% endif %}
    {% endif %}

{% endblock %}