{% extends 'customers/base.html' %}

{% block title_block %}
    Delete Account
{% endblock %}

{% block text_block %}
    <div class='col-8 offset-2 py-3'>
        <div class="text-center text-white">
            <h1 class="h1 mb-3 font-weight-light">Delete your account</h1>
            <hr>
            <p>Deleting your account is irreversible.
                Please be sure you want to delete your account before you confirm.</p>
            <a class="btn btn-danger" href="{% url 'customers:delete_user' %}">
                Delete
            </a>
        </div>
    </div>
{% endblock %}