{% extends 'customers/base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    PSD Ferries Account
{% endblock %}

{% block head_block %}
{% endblock %}

{% block body_block %}
{% endblock %}

{% block text_block %}

<div class="py-4">

    
        
        <div class="row">
            <div class="col py-1">
                <a href="{% url 'customers:ferry_purchases' %}" class="btn btn-dark btn-lg pt-2 w-100" id="purchases">Purchases</a>
            </div>
        </div>

        <div class="row">
            <div class="col py-1">
                <a href="{% url 'customers:ferry_concessions' %}" class="btn btn-dark btn-lg pt-2 w-100" id="concessions">Concessions</a>
            </div>
        </div>

        <div class="row">
            <div class="col py-1">
                <a href="{% url 'customers:ferry_usages' %}" class="btn btn-dark btn-lg pt-2 w-100" id="usages">Usages</a>
            </div>
        </div>
 
</div>
{% endblock %}