<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang = "en">
        <link  rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
        <meta charset = "UTF-8" />
        <title>PSD Ferries -
               {% block title_block %}

               {% endblock %}
        </title>

        <!-- necessary bootstrap statements -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
        crossorigin="anonymous">


        {% block head_block %}

        {% endblock %}
    </head>
    <body>
       
        <div class="container">
            <div class="row">
                <div class="col"><h2><strong>Operator API</strong></h2> </div>      
                <div class="col">Query Tool</div>
            </div>
        </div>
    

        {% block body_block %}

        {% endblock %}
          
    </body>

</html>